<%- include('../../templates/headerViews') %>
<div class="container">
  <h1>Details:</h1>
  <ul>
    <li>
      <h4>Id: <%= user.id %></h4>
    </li>
    <li>
      <h4>Email: <%= user.email %></h4>
    </li>
    <li>
      <h4>Username: <%= user.username %></h4>
    </li>
    <li>
      <h4>Password: <%= user.password %></h4>
    </li>
  </ul>
</div>
<%- include('../../templates/footerViews') %>